<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Displaying the title of the page-->
    <title>Your Own Image Hosting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tachyons.min.css}"/>
</head>
<body class="sans-serif">
<nav class="dt w-100 border-box pa3">
    <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
        <!--Displaying the heading of the page-->
        <h3 color="red pa0">Image Uploader</h3>
    </a>

</nav>
<div class="fl w-25-l">
    &nbsp;
</div>
<article class="fl w-50-l w-80 pa3 pa5-ns center">

    <!--Displaying the image title-->
    <h1 class="f2" th:text="${image.title}">Title</h1>

    <!--Displaying the image-->
    <img th:src="'data:image/jpeg;base64,'+${image.imageFile}" th:alt="${image.title}" class="w-100 dib measure" />

    <!--Displaying the number of views of the image-->
    <p class="grey f6" th:text="${image.numView} + ' views'">Num Views</p>

    <!--Displaying the description of the image-->
    <h5 class="f4 mb0">Description</h5>
    <p class="measure lh-copy mt2" th:text="${image.description}">text</p>
</article>
<div class="fl w-25-l">
    &nbsp;
</div>

</body>
</html>