<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Write the title of the header bar below -->
    <title>Write Title Header</title>
    <!-- predefined style specifications below -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tachyons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>

</head>

<body class="sans-serif">
<nav class="dt w-100 border-box pa3">
    <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">

        <!-- Write the page heading below -->
        <h3 color="red pa0">Write Title</h3>
        <!-- Uncomment the text written below -->
        <!--<main id="posts">-->

            <!--<article th:each="i : ${images}">-->
                <!--<h2 class="title" th:text="${i.title}">Image Title</h2>-->
                <!--<div class="uploadDate">-->
                    <!--<i>Posted On</i>-->
                    <!--<span th:text="${i.uploadDate}"></span>-->
                <!--</div>-->

                <!--<p class="imageFile" th:utext="${i.imageFile}">Image Content</p>-->
                <!--<hr/>-->
            <!--</article>-->

        <!--</main>-->

    </a>


</nav>

</body>
</html>